{
  "extends": [
    "codex/ts",
    "plugin:react/recommended"
  ],
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "rules": {
        "no-use-before-define": "off",
        "jsdoc/require-returns": "off",
        "jsdoc/require-param-type": "off",
        "react-hooks/exhaustive-deps": "off",
        "react/react-in-jsx-scope": "off",
        "@typescript-eslint/no-magic-numbers": "off",
        "@typescript-eslint/naming-convention": [
          "error",
          {
            "selector": "enumMember",
            "format": [
              "UPPER_CASE"
            ]
          }
        ]
      }
    }
  ]
}
